.metadata {
  font-family: "Roboto", "SF Pro", Arial, sans-serif;
  font-size: 28px;
  float: right;
  margin-left: 270px;
  height: 100vh;
  width: 85vw;
  background: #3A506B;
  border-radius: 100px 0 0 100px;
  position: relative;

  .piemeta {
    margin-top: 10%;
    margin-left: 5%;
  }

  .list {
    position: relative;
    float: right;
    margin-right: 100px;
    top:25%;
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
  }
}